.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.audio-player {
    position: relative;
    width: 500px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
