{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% block title %}
        <title>Pokémon</title>
    {% endblock %}

    {% block script %}
        <script src="{% static 'mediaelementjs/jquery.js' %}"></script>
        <script src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% endblock %}

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/music.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger">
    <a class="navbar-brand">Pokémon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/pokemon">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pokemon/pokedex">Pokédex</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pokemon/quiz">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pokemon/dreamTeam">Dream Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pokemon/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pokemon/login_view">Log-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pokemon/logout_view">Log-Out</a>
            </li>
        </ul>
    </div>
</nav>

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <h1>Pokémon</h1>
            </div>
            <div class="row">
                <p class="lead">Pokémon, also known as Pocket Monsters in Japan, is a Japanese media franchise managed
                    by The Pokémon Company, a company founded by Nintendo, Game Freak, and Creatures.</p>
            </div>
            <div class="row">
                <a class="btn btn-warning btn-lg" href="https://en.wikipedia.org/wiki/Pok%C3%A9mon" role="button">Learn
                    more &raquo;</a>
            </div>
            <div class="audio-player row">
                <audio id="audio-player" src="{% static 'images/Pokémon.mp3' %}"
                       controls="controls"></audio>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="https://cdn.vox-cdn.com/thumbor/4pLBNJh7JVpneso-OXOtpNEyv_M=/0x0:2257x1320/1220x813/filters:focal(949x480:1309x840):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63738986/pokemon.0.0.png"
                     class="img-fluid" alt="news">
                <h2>News</h2> <br>
                <p>
                    <a href="https://www.pokemon.com/us/pokemon-news/a-peek-at-the-pokemon-25th-anniversary-in-the-2020-macys-thanksgiving-day-parade/">Pokémon
                        25th Anniversary in the 2020 Macy's Thanksgiving Day parade</a></p>
                <hr>
                <p><a href="https://www.thewrap.com/kadabra-back-pokemon-cards-uri-gelle/"> Kadabra is back!</a>
                </p>
                <hr>
                <p><a href="https://comicbook.com/gaming/news/pokemon-nintendo-switch-lite-games-2021/">Pokémon
                    rumor on nintendo switch</a></p>

                <div class="my-3">
                    <a class="btn btn-danger btn-lg" href="https://www.pokemon.com/us/pokemon-news/"
                       role="button"> More News &raquo;</a>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <img src="https://compote.slate.com/images/18ba92e4-e39b-44a3-af3b-88f735703fa7.png?width=840&rect=1560x1040&offset=0x0"
                     class="img-fluid" alt="events">
                <h2>Games</h2> <br>
                <p><a href="https://newpokemonsnap.pokemon.com/en-us/">New Pokémon Snap</a></p>
                <hr>
                <p><a href="https://www.pokemon.com/us/pokemon-video-games/pokemon-unite/"> Pokémon UNITE</a>
                </p>
                <hr>
                <p><a href="https://cafemix.pokemon.com/en-us/">Pokémon Café Mix</a></p>
                <div class="my-3">
                    <a class="btn btn-danger btn-lg"
                       href="https://www.pokemon.com/us/pokemon-video-games/all-pokemon-games/" role="button">
                        More Games &raquo;</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mt-5">
                    <h3>Table of Contents</h3> <br>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Home: Where you can find more info on Pokémon in general along
                        with the news and different games.
                    </li>
                    <li class="list-group-item">Pokédex: An index of Pokémons</li>
                    <li class="list-group-item">Quiz: A fun quiz to see how well you know your Pokémons</li>
                    <li class="list-group-item">Dream Team: You can create your dream team here!</li>
                    <li class="list-group-item">Contact Us: Any questions, comments, concerns can be messaged to us here!</li>
                    <li class="list-group-item">Log-In: Register or log-in to unlock content</li>
                    <li class="list-group-item">Log-Out</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-123">
                    <div class="mb-2"><h4>Contact us </h4></div>
                </div>
                <div class="col-lg-8 col-12">
                    <ul>
                        <li id="name1">Jose Garcia</li>
                        <li>
                            <div class="mb-4">garciaj@my.ccsu.edu</div>
                        </li>
                        <li id="name2">Lily Phan</li>
                        <li>
                            <div class="mb-4">l.phan@my.ccsu.edu</div>
                        </li>
                        <li>Central Connecticut State University</li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/music.js' %}"></script>
</body>

</html>