{% extends 'pokemon/home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Pokémon Sign-In</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block body %}
    <h1 class="mt-5">Register</h1>
    <form action="/pokemon/register" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" name="username" class="form-control" required id="id_username"
                   placeholder="Enter username">
            <small class="form-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
        </div>
        <div class="form-group">
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" class="form-control" required id="id_password1"
                   placeholder="Password">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
        </div>
        <div class="form-group">
            <label for="id_password2">Password confirmation:</label>
            <input type="password" name="password2" class="form-control" required id="id_password2"
                    placeholder="Confirm password">
            <small class="form-text">Enter the same password as before, for verification</small>
        </div>
        <div style="text-align:center">
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </form>
{% endblock %}